@using Microsoft.AspNetCore.Http
@model musicly.Models.User

@{
    ViewData["Title"] = "Details";
}
<style>
    dt {
        float: right !important;
    }

    dd {
        text-align: right;
    }
</style>
<h2 style="text-align:right">פרטים</h2>

<div>
    <h4 style="text-align:right">משתמש</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            שם משתמש
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            סיסמא
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            שם פרטי
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            שם משפחה
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            תאריך לידה
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            עיר
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        @if (Context.Session.GetString("Admin") != null && Context.Session.GetInt32("Admin") == 1)
        {
            <dt>
                מנהל
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsAdmin)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">עריכה</a>
    @if (Context.Session.GetString("Admin") != null && Context.Session.GetInt32("Admin") == 1)
    {
        <a asp-action="Index">| חזרה לרשימה</a>
    }
    </div>
